.sidebar{
    flex: 1;

}
.img_font{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.sidebarDescription{
    width: 80%;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sidebarImg{
    width: 80%;
}
.aboutme{
    margin: 20px;
    padding: 10px;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    
}

.category{
    margin: 20px;
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.itemItems{
    list-style: none;
    margin: 15px;
}
.sideBarItems{
    display: flex;
    flex-direction: column;
    justify-content: center
    ;
}
.totalSidebar{
    display: flex;
    justify-content: center;
    /* background-color: rgb(27, 27, 18); */
    width: 340px;
}
.categoryCentrization{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: yellow; */
    width: 186px;
    gap: 15px;
    padding-left: 60px;
}

.followus{
    margin: 20px;
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.sidebarSocial{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.sidebarIcon{
    cursor: pointer;
    margin: 10px;
}
